@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift");

@font-face {
  font-family: "SquareFont";
  src: url("./fonts/squarefont/SquareFont.ttf.woff") format("woff"),
    url("./fonts/squarefont/SquareFont.ttf.svg#SquareFont") format("svg"),
    url("./fonts/squarefont/SquareFont.ttf.eot"),
    url("./fonts/squarefont/SquareFont.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #181e25;
  --green: #38917a;
  --white: #ffffff;
  --green2: #35635c;
  --green3: #5d827c;
  --pale: #38917a;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: default;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* .hero {
  height: calc(100vh - 130px);
} */

/* #sjij-logo {
  transform: translateY(-100px);
} */

@media (max-width: 767px) {
  body {
    cursor: default;
  }

  cursor-dot-outline,
  cursor-dot {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 1s ease-in forwards;
}

/* @keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideup {
  animation: slideUp 0.8s ease-in forwards;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scaleup {
  animation: scaleUp 1s ease-in forwards;
}

#drmcitc-logo,
#drmc-logo,
#sjig-logo {
  opacity: 0;
} */

.logo-visible {
  opacity: 1;
}

#sec1,
#sec3,
#sec5,
#sec7 {
  background-color: var(--blue);
  background-image: url(./public/triangle.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100px, cover;
}

#sec9 {
  background-color: var(--blue);
  background-image: url(./public/footer-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 500px, cover;
}

@media screen and (max-width: 1024px) {
  #sec1 {
    background-color: var(--blue);
    background-image: none;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 500px, cover;
  }

  #sec9 {
    background-color: var(--blue);
    background-image: none;
  }
}

nav,
nav * {
  cursor: auto !important;
}

.sticky {
  position: sticky;
}

@media (min-width: 1400px) {
  .resp {
    display: none;
  }

  .resp- {
    display: block;
  }
}

/* Add some padding to the body to prevent content from being hidden behind the navbar */
body {
  padding-top: 64px; /* Adjust the padding-top based on your navbar height */
}

#apply:hover {
  transition: all 0.2s ease-in forwards-out !important;
  border: 1px solid #0c443b !important;
  background: #0c443b !important;
  box-shadow: 0px 0px 7.6px 0px #061d20 inset !important;
  backdrop-filter: blur(5px) !important;
}

/* #fixed {
  position: fixed;
  bottom: 0;
  right: 0;
} */

#arrows {
  transform: translateY(-55px);
}

section div img {
  overflow: hidden;
}

prizes-div {
  align-self: center;
}

/* APPLY PAGE */

/* .content {
  border-radius: 2px;
  background: rgba(5, 20, 25, 0.5);
  backdrop-filter: blur(6px);
} */

ol {
  list-style-type: decimal;
}

.hero-bg {
  max-width: 100%;
}

/* .footer {
  background-color: var(--green);
} */

/* Cursor */
html,
body,
html *,
body * {
  cursor: none;
}
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  mix-blend-mode: difference;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #eb3b23;
}
.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: #eb3a235a;
}
